<!DOCTYPE html>
<html>
<head>
    <title>Three Wise Men Inc. is now Mojility Inc.</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <style>
        html {
            background-color: #666;
        }

        body {
            font-family: 'Droid Sans', 'Lucida Grande', Tahoma, sans-serif;
            width: 60%;
            border-radius: 24pt;
            margin: 12pt auto;
            padding: 12pt;
            background-color: #fff;
            text-align: center;
        }

        img {
            height: 60pt;
        }
    </style>
</head>
<body>
{{ content }}
<script language="javascript">
    setTimeout(function() {
        window.location.href="http://mojility.ca/";
    }, 3000);
</script>
</body>
</html>